<% if(theme.uyan.enable && is_post()){ %>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2154713"></script>
<!-- UY END -->
<% } else if(theme.gitment.enable && is_post()) { %>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script type="text/javascript" src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script type="text/javascript">
    var gitment = new Gitment({
        id: document.location.href, 
        owner: "<%= theme.gitment.owner%>",
        repo: "<%= theme.gitment.repo%>",
        oauth: {
          client_id:"<%= theme.gitment.client_id%>",
          client_secret:"<%= theme.gitment.client_secret%>"
        },
        perPage: "<%= theme.gitment.perPage%>",
    });
    gitment.render('gitment-container');
    </script>
    <div id="gitment-container"></div>
<% } else { %>
   <p>评论系统未开启，无法评论！</p>
<%}%>






